<h1>Angular and Content Projection</h1>

<!-- Single Slot Projection DEMO -->
<app-single-slot-content-projection>
  <p style='color: blueviolet; text-decoration: underline blueviolet; font-weight: bold;'>Single-slot content goes here...</p>
</app-single-slot-content-projection>

<!-- Multi Slot Projection DEMO -->
<app-multi-slot-content-projection>
  <p style='color: crimson; text-decoration: underline crimson; font-weight: bold;'>Multi slot content goes here....</p>
  <p anotherContent style='color: red; text-decoration: underline red; font-weight: bold;'>Another multi-slot content goes here...</p>
</app-multi-slot-content-projection>

<!-- Multi Slot projection -->

<!-- Select by ID and tag -->
<app-multi-slot-content-projection>
  <h2 id="content1" style='color: green; text-decoration: underline green; font-weight: bold;'>Multi-slot content goes here...</h2><br>
</app-multi-slot-content-projection>

<app-multi-slot-content-projection>
  <h3 id="content2" style='color: blue; text-decoration: underline blue; font-weight: bold;'>Multi-slot content goes here...</h3><br>
</app-multi-slot-content-projection>

<app-multi-slot-content-projection>
  <h4 id="content3" style='color: orangered; text-decoration: underline orangered; font-weight: bold;'>Multi-slot content goes here...</h4><br>
</app-multi-slot-content-projection>

<!-- Select by CLASS -->
<app-multi-slot-content-projection>
  <p class="content1" style='color:gold; text-decoration: underline gold; font-weight: bold;'>Multi-slot content goes here...</p><br>
</app-multi-slot-content-projection>

<app-multi-slot-content-projection>
  <p class="content2" style='color:gold; text-decoration: underline gold; font-weight: bold;'>Multi-slot content goes here...</p><br>
</app-multi-slot-content-projection>

<app-multi-slot-content-projection>
  <p class="content3" style='color:gold; text-decoration: underline gold; font-weight: bold;'>Multi-slot content goes here...</p><br>
</app-multi-slot-content-projection>

<!-- Conditional Slot Projection DEMO -->

<!-- Example 1 -->
<app-conditional-slot-content-projection>
  <p heading>Conditional-slot goes to...</p>
</app-conditional-slot-content-projection>

<!-- Example 2 -->
<app-conditional-slot-content-projection>
  <h4 style='color: brown; text-decoration: underline brown; font-weight: bold;'>Content is here...</h4>
  <ng-container ngProjectAs="[question]">
    <h4 style='color: brown; text-decoration: underline brown; font-weight: bold;'>Where is conditional content?</h4>
  </ng-container>
</app-conditional-slot-content-projection>